<phpunit 
	bootstrap="./bootstrap.php"
	backupGlobals="false"
	colors="false">
	<testsuites>
		<testsuite name="Endpoints">
			<file>tests/EndpointTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<file>includes/nicejson.php</file>
			<directory suffix=".php">endpoints/</directory>
		</blacklist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
